@page
@model CarRental.Web.Pages.Users.IndexModel
@inject PagesLocalizationService PagesLocalizer

<h4>@PagesLocalizer.GetLocalizedHtmlString("USERS")</h4>
<hr/>
<div class="row d-flex justify-content-center">
    <form asp-page="./Index" method="get" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <label for="roleName" class="col-4 col-form-label">@Html.DisplayNameFor(model => model.RoleName):</label>
            <div class="col-8">
                <select asp-for="RoleName" class="form-control" id="roleName" asp-items="ViewBag.RoleName">
                    <option value=""></option>
                </select>
            </div>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="form-group d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-primary">@PagesLocalizer.GetLocalizedHtmlString("FILTER")</button>
        </div>
    </form>
</div>

<div class="row mt-3">
    <h5>@PagesLocalizer.GetLocalizedHtmlString("USER_FOUND") @Model.Users.Total</h5>
</div>

<div class="row">
    <table class="table mt-3">
        <thead>
            <tr>
                <th>
                    <a asp-route-sortOrder="@Model.IdSort" asp-route-roleName="@Model.RoleName" >
                        @Html.DisplayNameFor(model => model.Users.Results[0].Id)
                    </a>
                </th>
                <th>
                    <a asp-route-sortOrder="@Model.NameSort" asp-route-roleName="@Model.RoleName">
                        @Html.DisplayNameFor(model => model.Users.Results[0].Name)
                    </a>
                </th>
                <th>
                    <a asp-route-sortOrder="@Model.EmailSort" asp-route-roleName="@Model.RoleName">
                        @Html.DisplayNameFor(model => model.Users.Results[0].Email)
                    </a>
                </th>
                <th>
                    <a class="btn btn-success ml-1" asp-page="Create">@PagesLocalizer.GetLocalizedHtmlString("CREATE_NEW")</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Users.Results)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-id="@item.Id">@PagesLocalizer.GetLocalizedHtmlString("DETAILS")</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if (@Model.Users.Total != null)
{
    <div class="card text-center border-0 color-bg-main">
        <div class="card-body">
            @if ((Model.Users.PageSize ?? 0) != 0)
            {
                var totalPages = (int)Math.Ceiling((double)Model.Users.Total.Value / (double)Model.Users.PageSize.Value);
                <nav>
                    <ul class="pagination justify-content-center">
                        @if (Model.Users.PageNumber != 0)
                        {
                            <li class="page-item">
                                <a asp-route-pageNumber="@(Model.Users.PageNumber - 1)" asp-route-sortOrder="@Model.CurrentSort" asp-route-roleName="@Model.RoleName" class="page-link">
                                    <span>&laquo;</span>
                                </a>
                            </li>
                        }
                        @for (var pageNumber = Math.Max(0, Model.Users.PageNumber.Value - 2); pageNumber < Math.Min(totalPages, Model.Users.PageNumber.Value + 3); pageNumber++)
                        {
                            @if (Model.Users.PageNumber == pageNumber)
                            {
                                <li class="page-item active">
                                    <a class="page-link">
                                        @(pageNumber + 1)
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a asp-route-pageNumber="@(pageNumber)" asp-route-sortOrder="@Model.CurrentSort" asp-route-roleName="@Model.RoleName" class="page-link">
                                        @(pageNumber + 1)
                                    </a>
                                </li>
                            }
                        }
                        @if (Model.Users.PageNumber < Math.Ceiling((decimal)(Model.Users.Total.Value / Model.Users.PageSize.Value)) - 1)
                        {
                            <li class="page-item">
                                <a asp-route-pageNumber="@(Model.Users.PageNumber + 1)" asp-route-sortOrder="@Model.CurrentSort" asp-route-roleName="@Model.RoleName" class="page-link">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        }
                    </ul>
                </nav>
            }
        </div>
    </div>
}