@using CarRental.Bll.Dtos
@model EmailConfirmationDto

@inject IdentityLocalizationService IdentityLocalizer

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["Title"] = IdentityLocalizer.GetLocalizedHtmlString("EMAIL_CONFIRM_ACCOUNT_TITLE");
}

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_DEAR") @Model.Name!</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_CONFIRM_ACCOUNT")</p>

<br />

@Html.PartialAsync("_EmailButtonHtml", new ButtonConfirmationDto(IdentityLocalizer.GetLocalizedHtmlString("EMAIL_CONFIRM_ACCOUNT_BUTTON") , Model.Url));

<br/>

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_BEST_REGARDS")</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("CAR_RENTAL_TEAM")</p>