@using CarRental.Bll.Dtos
@model EmailConfirmationDto

@inject IdentityLocalizationService IdentityLocalizer

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["Title"] = IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESET_PASSWORD_TITLE");
}

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_DEAR") @Model.Name!</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESET_PASSWORD_TEXT")</p>

<br />

@Html.PartialAsync("_EmailButtonHtml", new ButtonConfirmationDto(IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESET_PASSWORD_BUTTON"), Model.Url));

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_BEST_REGARDS")</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("CAR_RENTAL_TEAM")</p>