@using CarRental.Bll.Dtos
@model EmailConfirmationDto

@inject IdentityLocalizationService IdentityLocalizer

@{
    Layout = "_EmailLayoutHtml";
    ViewContext.ViewData["Title"] = "Reservation";
}

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_DEAR")</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_ACCEPTED_TEXT")</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_ACCEPTED_TEXT_TWO")</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("EMAIL_RESERVATION_BEST_REGARDS")</p>

<br />

<p>@IdentityLocalizer.GetLocalizedHtmlString("CAR_RENTAL_TEAM")</p>