@model IEnumerable<CarRental.Bll.Dtos.VehicleDto>
@inject PagesLocalizationService PagesLocalizer
@inject IdentityLocalizationService IdentityLocalizer

<div class="row">
    @foreach (var (vehicle, i) in Model.Select((vehicle, i) => (vehicle: vehicle, i: i + 1)))
    {
    <div class="col-auto">
        <div class="card" id="vehiclemodelcard">
            <h5 class="card-header text-success">@vehicle.VehicleType</h5>
            <div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p class="card-text"><b>@PagesLocalizer.GetLocalizedHtmlString("PRICE_PER_DAY")</b> @vehicle.PricePerDay Ft</p>
                            <p class="card-text">
                                <b>@IdentityLocalizer.GetLocalizedHtmlString("STAR_RATING"): </b>
                                @for (int s = 0; s < Math.Round(vehicle.StarRating); s++)
                                {
                                    <span class="fa fa-star checked"></span>
                                }
                                @for (int s = 0; s < (5 - Math.Round(vehicle.StarRating)); s++)
                                {
                                    <span class="fa fa-star"></span>
                                }
                                @vehicle.StarRating
                            </p>
                        </div>
                        <a class="col-md-6" asp-page="/VehicleModels/Details" asp-route-id="@vehicle.Id">
                            <img class="card-img-top" src="~/images/@vehicle.VehicleUrl" title="@vehicle.VehicleType" alt="@vehicle.VehicleType">
                        </a>
                    </div>
                    <a asp-page="/VehicleModels/Details" asp-route-id="@vehicle.Id" class="btn btn-outline-primary">@PagesLocalizer.GetLocalizedHtmlString("DETAILS")</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>