@page
@model CarRental.Web.Pages.Addresses.DetailsModel
@inject PagesLocalizationService PagesLocalizer

<div class="container">
    <h4>@PagesLocalizer.GetLocalizedHtmlString("ADDRESS")</h4>
    <hr />
    <div class="row">
        <label class="col-md-2">
            <b>
                @Html.DisplayNameFor(model => model.Address.ZipCode)
            </b>
        </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Address.ZipCode)
        </div>
    </div>
    <div class="row">
        <label class="col-md-2">
            <b>
                @Html.DisplayNameFor(model => model.Address.City)
            </b>
        </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Address.City)
        </div>
    </div>
    <div class="row">
        <label class="col-md-2">
            <b>
                @Html.DisplayNameFor(model => model.Address.StreetAddress)
            </b>
        </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Address.StreetAddress)
        </div>
    </div>
    <div class="row">
        <label class="col-md-2">
            <b>
                @Html.DisplayNameFor(model => model.Address.FullAddress)
            </b>
        </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Address.FullAddress)
        </div>
    </div>
    <div class="row">
        <label class="col-md-2">
            <b>
                @Html.DisplayNameFor(model => model.Address.IsInUse)
            </b>
        </label>
        <div class="col-md-10">
            @Html.DisplayFor(model => model.Address.IsInUse)
        </div>
    </div>

    <div class="row mt-4">
        <a class="btn btn-primary mr-3" asp-page="./Edit" asp-route-id="@Model.Address.Id">@PagesLocalizer.GetLocalizedHtmlString("EDIT")</a>
        @if (!Model.Address.HasReservation)
        {
            <a class="btn btn-danger mr-3" asp-page="./Delete" asp-route-id="@Model.Address.Id">@PagesLocalizer.GetLocalizedHtmlString("DELETE")</a>
        }
        <a class="mt-1" asp-page="./Index">@PagesLocalizer.GetLocalizedHtmlString("BACK_LIST")</a>
    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Administrators"))
    {
        <div class="row mt-4">
            <vc:car-dto cars="@Model.Address.Cars"></vc:car-dto>
        </div>
    }
}